<section class="page_container">
<div class="text_container">
<br>
<h4>Exhibitions</h4>
<br>
<br>
<p>1996 | Sackler Galleries, Royal Academy of Arts, London</p>
<br>
<br>
<p>1994 | Grosvenor Gallery, London</p>
<br>
<br>
<p>1993 | Interior/Exterior, Friends Room, London</p>
<br>
<br>
<p>1989 | New Art Centre, 41 Sloane Street, London</p>
<br>
<br>
<p>1986 | New Art Centre, 41 Sloane Street, London</p>
<br>
<br>
<p>1974 | British Painting, Fieldbourne Galleries, London</p>
<br>
<br>
<p>1966 | Paintings by Carel Weight and Roger de Grey, Nottingham University Art Gallery, Nottingham, UK</p>
<br>
<br>
<p>1966 | The Leicester Galleries, London</p>
<br>
<br>
<p>1954 | Agnews, St. James's, London</p>
<br>
<br>
</div>
<div class="bio_container">
<br>
<br>
<h3>Biography</h3>
<br>
<br>
<p>Roger de Grey was a distinguished landscape painter who also made crucial impacts on the institution he served. He was President of the Royal Academy from 1984 to 1993, Senior Tutor at the Royal College of Art from 1953 to 1973 and Principal of the City and Guilds of London Art School from 1973 to 1995.</p><br>
de Grey was born in Penn, Buckinghamshire in 1918 to Nigel de Grey and Florence Gore, the sister of the Camden Town Painter, Spencer Gore.  He was educated at Eton, where his aspirations to be an artist were encouraged by Robin Darwin, then the assistant drawing master.</p><br>
<p>He continued studying art at Chelsea School of Art, which was considered to be one of the best art schools in the country thanks to Henry Moore and Graham Sutherland.  However, de Grey regretted the lack of discipline at the school, ‘the new freedom we had been given resulted in the most inadequate art education imaginable’. He looked instead at painters outside the school and became interested in the punctilious realism of William Coldstream, Victor Pasmore’s and Claude Rogers’, the Euston Road painters.</p><br>
<p>At Chelsea, he met Flavia Irwin, a fellow student.  They fell in love and married in 1942.</p><br>
<p>The 2nd World War interrupted his studies.  He served in the Royal Armoured Corps.  Serious damage to his left hand – inflicted by a German sniper while he was carrying a wounded man to safety – prevented him from becoming a student again until he was 27 in 1946.  He returned to Chelsea School of Art for a year.</p><br>
<p>In 1947 he took up a teaching position in the Department of Fine Arts at King’s College, Newcastle. The allotment paintings he painted at this time owe something to Bonnard and Camden Town, but the portraits and still lifes he painted demonstrate his interest in the Euston Road School.  The clear sense of precisely measured formal relationship in Interior, Newcastle, for example, shows his indebtedness.  There were strong connections with King’s College, Newcastle and Euston Road.  Coldstream and Claude Rogers were external examiners and Lawrence Gowing, Coldstream’s most successful pupil, became Professor at Kings College, Newcastle in 1948.</p><br>
<p>de Grey enjoyed a growing reputation as a painter.  His work was shown in galleries in London and in 1949 he received a prize at the Carnegie International Exhibition in Pittsburgh.  An anonymous review of a mixed show in The Times for 7 February 1950, observed that, of his fellow exhibitors, Roger de Grey had ‘the boldest and most original talent… He is also an excellent colourist, limited in range but at the same time markedly individual’.</p><br>
<p>At the end of 1953 de Grey became Senior Tutor at the Royal College of Art.  Other members of the painting staff included Rodrigo Moynihan, Carel Weight and Ceri Richards.  The painting department at the Royal College became the most liveliest it has been before or since.  Sensitive to innovations, it originated several of its own including Kitchen Sink and Pop Art.  </p><br>
<p>His own painting developed a fine balance between the observed and the constructed.  Structure and pattern became more obvious in the series of paintings he called Interior/Exterior.  One of which is owned by the Tate, another by the Royal Academy.   Most of the series were painted in his studio in Kent, a converted cow shed with large windows.  </p><br>
<p>In 1973 de Grey left the Royal College of Art and became Principal of the City and Guilds of London Art School.   It was small, with 175 students, and was in financial difficulties.  Recently made independent of the City and Guilds Institute - Lambeth, its local borough also refused to support the school.  de Grey managed to fund raise sufficiently to save the school and embark on its expansion.  Adjacent buildings were acquired, a new stone cutting studio was built and new courses – in wood carving, stone carving, lettering and the decorative arts introduced.</p><br>
<p>de Grey’s gifts for transforming organisations by bringing out the best of those who worked for him was to come to the fore again at the Royal Academy.  He first exhibited a painting in its Summer Exhibition in 1947 and from 1956 his work was an almost annual feature of the show.  He was elected a member in 1962. In 1975 he was appointed to the Exhibitions Committee and in 1976 he was made Treasurer.  He was elected President in 1984.  The reformation of the Royal Academy from a dangerously moribund organisation had begun under the presidencies of first Tom Monnington and then Sir Hugh Casson.  de Grey built on their work. He raised the funds for and drove through the Sackler Gallery development which transformed the top floor of the Royal Academy into galleries which could receive international loan exhibitions and also the access to them.  He encouraged a broader group of artists to become involved in the institution enlivening the Sumer Exhibition with contributions from invited artists and widening the membership to embrace many of those who previously wanted nothing to do with an institution which they regarded as reactionary.  The exhibitions programme became one of the most ambitious and exciting in Europe.</p><br>
<p>As President of the Royal Academy, de Grey still found time to paint particularly in the Summer when he escaped to his house in Charente Maritimes, South West France. The paintings he painted there – particularly those after he had retired as President of the Royal Academy in 1993 - were his most magnificent.  Vivid impressions of heat and haze in a beautiful tonal, colouristic and spatial unity.</p><br> 

</div>

</section>