<section class="page_container">
<div class="text_container">
<br>
<h4>Exhibitions</h4>
<br>
<br>
<p>1996 | Sackler Galleries, Royal Academy of Arts, London</p>
<br>
<br>
<p>1994 | Grosvenor Gallery, London</p>
<br>
<br>
<p>1993 | Interior/Exterior, Friends Room, London</p>
<br>
<br>
<p>1989 | New Art Centre, 41 Sloane Street, London</p>
<br>
<br>
<p>1986 | New Art Centre, 41 Sloane Street, London</p>
<br>
<br>
<p>1974 | British Painting, Fieldbourne Galleries, London</p>
<br>
<br>
<p>1966 | Paintings by Carel Weight and Roger de Grey, Nottingham University Art Gallery, Nottingham, UK</p>
<br>
<br>
<p>1966 | The Leicester Galleries, London</p>
<br>
<br>
<p>1954 | Agnews, St. James's, London</p>
<br>
<br>
</div>
</section>