<section class="page_container">
<div class="text_container">
<br>
<h3>Exhibitions</h3>
<br>
<br>
<h4>1996</h4>
<br>
<p>Sackler Galleries, Royal Academy of Arts, London, July &ndash; September</p>
<br>
<br>
<h4>1994</h4>
<br>
<p>Grosvenor Gallery, London, April &ndash; April</p>
<br>
<br>
<h4>1993</h4>
<br>
<p>Interior/Exterior, Friends Room, London, April &ndash; June</p>
<br>
<br>
<h4>1989</h4>
<br>
<p>New Art Centre, 41 Sloane Street, London, November &ndash; December</p>
<br>
<br>
<h4>1986</h4>
<br>
<p>New Art Centre, 41 Sloane Street, London, March &ndash; April</p>
<br>
<br>
<h4>1974</h4>
<br>
<p>British Painting, Fieldbourne Galleries, London, November &ndash; December</p>
<br>
<br>
<h4>1966</h4>
<br>
<p>Paintings by Carel Weight and Roger de Grey, Nottingham University Art Gallery, Nottingham, UK, January &ndash; February</p><br>
<p>The Leicester Galleries, London, April &ndash; October</p>
<br>
<br>
<h4>1954</h4>
<br>
<p>Agnews, St. James's, London, April &ndash; May</p>
<br>
<br>
</div>
</section>