<section class="page_container">
<br>
<br>
<br>
<div class="text_container">
<h3>If you own a painting by Roger De Grey then please let us know. We are compiling a complete catalogue of his paintings and need your help to track down those works in private hands.</h3>
</div>
</section>

<footer id="footer">Copyright info | Website by | Research by</footer>
