<header>
  <div class="navbar">
    <nav>
      <ul>
        <div class="topnav_left">
          <li><%= link_to "Roger de Grey", artworks_path %></li>
        </div>
        <div class="topnav_right">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </div>
      </ul>
  </div>
</header>